@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", serif;
  font-style: normal;
}

header {
  width: 1440px;
  height: 759px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 0px 30px 0px;
}
header nav {
  width: 1160px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-box {
  width: 202px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.logo-box > img {
  width: 62px;
  height: 62px;
}
.logo-box > h1 {
  color: rgb(17, 17, 17);
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
  margin-left: 10px;
  text-transform: uppercase;
}
.menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-box ul {
  display: flex;
}
.menu-box ul li {
  list-style: none;
  margin-left: 32px;
}
.menu-box ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.menu-box ul li > a {
  margin-left: 0;
}
.contact {
  width: 197px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: red;
  }
}
.bar-box {
  display: none;
}

/* Hero section */

.hero {
  width: 1158px;
  height: 575px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.hero-text {
  width: 640px;
  height: 331px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.hero .hero-text > h1 {
  width: 640px;
  height: 183px;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
}
.hero .hero-text > p {
  width: 640px;
  height: 50px;
  color: rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.hero .hero-text > button {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border: none;
  transition: all 0.3s ease;
  &:hover {
    background-color: red;
  }
}
.hero-img {
  width: 468.61px;
  height: 575px;
}
.hero-img > img {
  width: 100%;
  height: 100%;
}

/* Curriculam section */

.curriculum {
  width: 1440px;
  height: 880px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url(assets/bg.png);
  background-position: center;
  background-size: cover;
}
.curriculum > h2 {
  margin: 80px 0px;
  color: rgb(0, 0, 0);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.box-container {
  width: 1160px;
  height: 481.5px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.box {
  width: 367.8px;
  height: 476.78px;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.box > h3 {
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
}
.box > p {
  color: rgb(128, 128, 128);
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}
.box > button {
  width: 102.92px;
  height: 28.3px;
  color: rgb(100, 200, 255);
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  background: transparent;
}

@media screen and (max-width: 576px) {
  header {
    width: 390px;
    height: 795px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  header nav {
    width: 358px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hr {
    width: 390px;
    margin-top: 5px;
    border: 0.5px solid rgb(254, 163, 1);
  }
  .logo-box > img {
    width: 46px;
    height: 46px;
  }
  .logo-box > h1 {
    display: none;
  }

  .menu-box,
  .contact {
    display: none;
  }
  .bar-box {
    width: 30px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #bar {
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
  }

  /* hero section */

  .hero {
    width: 357px;
    height: 749px;
    flex-direction: column-reverse;
    padding: 20px 0px 20px 0px;
  }
  .hero-img {
    width: 336px;
    height: 413px;
  }
  .hero-img > img {
    width: 100%;
  }
  .hero-text {
    width: 357px;
    height: 252px;
    padding: 0px;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
  }
  .hero .hero-text > h1 {
    width: 357px;
    height: 120px;
    font-size: 2rem !important;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
  }
  .hero .hero-text > p {
    width: 357px;
    height: 54px;
    color: rgb(17, 17, 17);
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }
  .hero-text button {
    width: 131px;
    height: 42px;
    padding: 6px 24px 6px 24px;
    border-radius: 8px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    &:hover {
      background-color: red;
    }
  }

  /* curriculum */
  .curriculum{
    flex-direction: column;
  }
  .box-container{
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .bar-box,
  .hr {
    display: none;
  }
}
