@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", serif;
  font-style: normal;
}

header {
  width: 1440px;
  height: 102px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}
header nav {
  width: 1160px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

}
.logo-box {
  width: 202px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: start;

}
.logo-box > img {
  width: 62px;
  height: 62px;
}
.logo-box > h1 {
  color: rgb(17, 17, 17);
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 10px;
  text-transform: uppercase;
}
.menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.menu-box ul {
  display: flex;
}
.menu-box ul li {
  list-style: none;
  margin-left: 32px;
}
.menu-box ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.menu-box ul li > a {
  margin-left: 0;
}
.contact {
  width: 197px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: red;
  }
}
.bar-box{
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    width: 390px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    padding: 12px 16px;
  }
  header nav {
    width: 358px;
    height: 46px;
  }
  .logo-box {
    width: 40px;
    height: 46px;
  }
  .logo-box > h1 {
    display: none;
  }

  .menu-box,
  .contact {
    display: none;
  }
  .bar-box {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #bar {
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .bar-box {
    display: none;
  }
}
