@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

marquee{
  width: 1160px;
  height: 150px;
  font-size: 2rem;
  font-weight: 900;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


header {
  width: 1440px;
  height: 759px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 0px 30px 0px;
}
header nav {
  width: 1160px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-box {
  width: 202px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.logo-box > img {
  width: 62px;
  height: 62px;
}
.logo-box > h1 {
  color: rgb(17, 17, 17);
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
  margin-left: 10px;
  text-transform: uppercase;
}
.menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-box ul {
  display: flex;
}
.menu-box ul li {
  list-style: none;
  margin-left: 32px;
}
.menu-box ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.menu-box ul li > a {
  margin-left: 0;
}
.contact {
  width: 197px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: red;
  }
}
.bar-box {
  display: none;
}

/* Hero section */

.hero {
  width: 1158px;
  height: 575px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.hero-text {
  width: 640px;
  height: 331px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.hero .hero-text > h1 {
  width: 640px;
  height: 183px;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
}
.hero .hero-text > p {
  width: 640px;
  height: 50px;
  color: rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.hero .hero-text > button {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border: none;
  transition: all 0.3s ease;
  &:hover {
    background-color: red;
  }
}
.hero-img {
  width: 468.61px;
  height: 575px;
}
.hero-img > img {
  width: 100%;
  height: 100%;
}

/* Curriculam section */

.curriculum {
  width: 1440px;
  height: 880px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url(assets/bg.png);
  background-position: center;
  background-size: cover;
}
.curriculum > h2 {
  margin: 80px 0px;
  color: rgb(0, 0, 0);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.box-container {
  width: 1160px;
  height: 481.5px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.box {
  width: 367.8px;
  height: 476.78px;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.box > h3 {
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
}
.box > p {
  color: rgb(128, 128, 128);
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}
.box > button {
  width: 102.92px;
  height: 28.3px;
  color: rgb(100, 200, 255);
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  background: transparent;
}
.icon {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 80px;
  transition: all 0.1s ease-in;
 
}
.icon i {
  font-size: 3rem;
  color: rgb(254, 163, 1);
  &:hover{
    color: red;
  }
}

/* Stories */
.story {
  width: 100%;
  height: 1018.02px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 80;
  padding: 60px 0px 60px 0px;
  background: url(assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-position: center;
  background-size: cover;
}
.story > h3 {
  width: 460.61px;
  height: 57.5px;
  color: rgb(0, 0, 0);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
}
.img-container {
  width: 1160px;
  height: 630.52px;
  margin: 80px 0px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.left-img {
  width: 540px;
  height: 630px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}
.main-img {
  width: 540px;
  height: 337px;
}
.main-img > img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.main-box {
  width: 540px;
  height: 337px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 35px;
  padding: 50px 35px;
}
.main-box h3 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38.35px;
  letter-spacing: 0%;
  text-align: left;
}
.main-box p {
  width: 433px;
  height: 75px;
  color: rgb(102, 102, 102);
  font-size: 0.92rem;
  font-weight: 500;
  line-height: 25px;
}
.date {
  position: absolute;
  width: 174.51px;
  height: 47.93px;
  left: 38.35px;
  top: 314.14px;
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  color: rgb(255, 255, 255);
  font-size: 0.92rem;
  font-weight: 500;
  line-height: 28.76px;
  text-align: center;
  text-transform: capitalize;
  border: none;
}
.right-img {
  width: 601px;
  height: 622.4px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}
.images-box {
  width: 290.69px;
  height: 301.61px;
  border-radius: 16px 16px 16px 16px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.images-box .img-holder {
  width: 291px;
  height: 177px;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}
.images-box h4 {
  width: 198.04px;
  height: 47.93px;
  color: rgb(0, 0, 0);
  font-size: 0.92rem;
  font-weight: 700;
  line-height: 25px;
  margin: 35px;
}
.second-date {
  position: absolute;
  width: 174.51px;
  height: 38.35px;
  left: 38.35px;
  top: 157.81px;
  border-radius: 47.93px;
  background: rgb(149, 178, 38);
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  text-transform: capitalize;
}
.viewall {
  width: 197px;
  height: 50px;
  display: flex;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px;
  margin: 80px 0px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  text-align: center;
  transition: all 0.3s ease;
  &:hover {
    background-color: red;
  }
}
footer {
  width: 100%;
  height: 519px;
  background: rgb(1, 172, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.footer-box {
  width: 1070.91px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left {
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: start;
}
.first-box {
  display: flex;
  width: 299.71px;
  height: 81.65px;
  align-items: center;
  justify-content: flex-start;
}
.first-box > img {
  width: 82px;
  height: 82px;
  position: relative;
  left: -10px;
}
.first-box > h2 {
  color: rgb(255, 255, 255);
  font-size: 2.63rem;
  font-weight: 700;
  line-height: 39.51px;
  letter-spacing: 0%;
  text-align: left;
}
.left > p {
  width: 400px;
  height: 100px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.middle {
  width: 156px;
  height: 200px;
}
.middle > h2 {
  color: rgb(255, 255, 255);
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.middle ul li {
  list-style: none;
  margin-top: 15px;
}
.middle ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.right {
  width: 190px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 25px;
}
.right > h2 {
  color: rgb(255, 255, 255);
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 576px) {
  header {
    width: 390px;
    height: 795px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  header nav {
    width: 358px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hr {
    width: 390px;
    margin-top: 5px;
    border: 0.5px solid rgb(254, 163, 1);
  }
  .logo-box > img {
    width: 46px;
    height: 46px;
  }
  .logo-box > h1 {
    display: none;
  }

  .menu-box,
  .contact,
  .icon,
  .left-img {
    display: none;
  }
  .bar-box {
    width: 30px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #bar {
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
  }

  /* hero section */

  .hero {
    width: 357px;
    height: 749px;
    flex-direction: column-reverse;
    padding: 20px 0px 20px 0px;
  }
  .hero-img {
    width: 336px;
    height: 413px;
  }
  .hero-img > img {
    width: 100%;
  }
  .hero-text {
    width: 357px;
    height: 252px;
    padding: 0px;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
  }
  .hero .hero-text > h1 {
    width: 357px;
    height: 120px;
    font-size: 2rem !important;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
  }
  .hero .hero-text > p {
    width: 357px;
    height: 54px;
    color: rgb(17, 17, 17);
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }
  .hero-text button {
    width: 131px;
    height: 42px;
    padding: 6px 24px 6px 24px;
    border-radius: 8px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    &:hover {
      background-color: red;
    }
  }

  /* curriculum */
  .curriculum {
    flex-direction: column;
    width: 390px;
    height: 1240px;
    justify-content: start;
    align-items: center;
    gap: 20;
    padding: 40px 0px 40px 0px;
  }
  .curriculum > h2 {
    color: rgb(0, 0, 0);
    font-size: 1.625rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
  }
  .box-container {
    width: 357px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .box {
    width: 357px;
    height: 322px;
    gap: 22px;
    padding: 36px 28px 36px 28px;
    margin: 10px 0px;
  }
  .box img {
    width: 88.49px;
    height: 75.79px;
  }
  .box > h3 {
    color: rgb(32, 32, 32);
    font-size: 1rem;
    font-weight: 700;
    line-height: 20.75px;
    letter-spacing: 0%;
    text-align: center;
  }
  .box > p {
    width: 193.81px;
    height: 50.45px;
    color: rgb(128, 128, 128);
    font-size: 0.638rem;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
  }
  .box button {
    color: rgb(240, 170, 0);
    font-size: 0.638rem;
    font-weight: 700;
    line-height: 19.16px;
    letter-spacing: 0%;
    text-align: center;
  }

  /* stories */

  .story {
    width: 390px;
    height: 760px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20;
    padding: 40px 0px 40px 0px;
    margin: 0 auto;
  }
  .story h3 {
    color: rgb(0, 0, 0);
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
  }

  .img-container {
    width: 360px;
    height: 560px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .right-img {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
  }

  .images-box {
    width: 173px;
    height: 179px;
    border-radius: 9.53px;
    background: rgb(255, 255, 255);
  }
  .images-box .img-holder {
    border-radius: 9.53px 9.53px 0px 0px;
    width: 173px;
    height: 105px;
  }
  .img-holder > img {
    width: 100%;
  }
  .text-container {
    width: 173.09px;
    height: 74px;
    border-radius: 9.53px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .text-container > h4 {
    width: 117.92px;
    height: 28.54px;
    color: rgb(0, 0, 0);
    font-size: 0.57rem;
    font-weight: 700;
    line-height: 17.12px;
    letter-spacing: 0%;
    text-align: left;
  }
  .second-date {
    position: absolute;
    width: 103.91px;
    height: 22.83px;
    left: 22.83px;
    top: 93.96px;
    border-radius: 28.54px;
    background: rgb(149, 178, 38);
    color: rgb(255, 255, 255);
    font-size: 0.57rem;
    font-weight: 500;
    line-height: 17.12px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }
  .viewall {
    width: 134px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
  }

  /* footer area */

  footer {
    width: 390px;
    height: 642px;
    background: rgb(1, 172, 253);
    padding: 40px 0px;
  }
  .footer-box {
    width: 377px;
    height: 570px;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  .left {
    width: 360px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .left > p {
    width: 357px;
    height: 80px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
  .first-box {
    width: 100%;
    height: auto;
  }
  .first-box > h2 {
    width: 172px;
    height: 67px;
    color: rgb(255, 255, 255);
    font-size: 2.23rem;
    font-weight: 700;
    line-height: 33.5px;
    letter-spacing: 0%;
    text-align: left;
  }
  .first-box > img {
    width: 69px;
    height: 69px;
  }
  .middle {
    width: 129px;
    height: 188.02px;
  }
  .middle > h2 {
    color: rgb(255, 255, 255);
    font-size: 1.258rem;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
  }
  .middle ul li {
    margin: 10px;
  }
  .middle ul li a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
  }
  .right {
    width: 180px;
    height: auto;
  }
  .right > h2 {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
  }
  .right img{
    width: 33px;
    height: 33px;
  }
  marquee{
    width: 390px;
    height: 20px;
    font-size: 1rem;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 992px) {
  .bar-box,
  .hr {
    display: none;
  }
}
